* {
  box-sizing: border-box;
}

html {
  background-color: #11111b;
  color: #cdd6f4;
}

body {
  margin: 0;
  padding: 0;
  color: #cdd6f4;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #181825;
}

::-webkit-scrollbar-thumb {
  background: #45475a;
  border-radius: 0;
  border: 2px solid #181825;
}

::-webkit-scrollbar-thumb:hover {
  background: #585b70;
}
